global
        maxconn         {maxconn}
        daemon
        ssl-default-bind-ciphers ECDH+AESGCM
        ssl-default-bind-options force-tlsv12
{log_comment}    log {f_logsocket}
{stats_comment}  stats socket {f_sock} mode 600 level admin

frontend lthnproxy
        bind            {bindaddr}:{proxyport}
        mode            http
        log             global
        option          dontlognull
        option          nolinger
        option          http_proxy
        option          contstats
        maxconn         8000
        timeout client  {timeout}

        acl is_mgmt_host hdr_reg(host) {ctrldomain}
        acl is_mgmt_path path_beg {ctrlpath}
        acl is_stats_path path_beg /stats
        acl is_mgmt_id hdr_reg({mgmt_header}) ^{mgmtid}$
	acl is_proxy_request url_reg '.*://.*'
        acl is_connect method CONNECT
	acl is_options method OPTIONS

	# If this is local request with right authid /stats, forward to stats backend
	use_backend b-stats if !is_options !is_proxy_request is_stats_path is_mgmt_id
	#  If this is local request with authid /status, forward to status backend
	use_backend b-status if !is_proxy_request is_mgmt_path is_mgmt_id
	# If this is proxy request with right id
        use_backend b-status if is_mgmt_host is_mgmt_path is_mgmt_id
	# If this is proxy request with right id
	use_backend b-stats if is_mgmt_host is_stats_path is_mgmt_id
	# Wrong mgmtid
        use_backend b-err if is_mgmt_host is_mgmt_path !is_mgmt_id
	# Forward OPTIONS to status
	use_backend b-status if is_options !is_proxy_request is_mgmt_path is_mgmt_id
	use_backend b-status if is_options !is_proxy_request is_stats_path

{comment_nossl}        use_backend http-proxy if is_proxy_request
        use_backend http-proxy if is_connect

# Backend for proxying requests to another proxy
backend http-proxy
        mode            http
        timeout server  {timeout}
        timeout connect {ctimeout}
        retries         2
        option          nolinger
        option          httplog
        
        http-request add-header {payment_header} {paymentid}

        {comment_tls} server hatls {server}:{port} force-tlsv12 ssl ca-file {ca} {nosslverify}
        {comment_clr} server hatls {server}:{port}
        errorfile 503 {f_err_connect}

backend b-err
        mode            http
        timeout server  {timeout}
        timeout connect {ctimeout}
        errorfile 503 {f_err_badid}

backend b-status
        mode            http
        timeout server  {timeout}
        timeout connect {ctimeout}
        errorfile 503 {f_status}

backend b-stats
        mode            http
        timeout server  {timeout}
        timeout connect {ctimeout}
	http-request set-uri /stats
        server Local 127.0.0.1:{sport}

listen  stats
        timeout client  {timeout}
        timeout server  {timeout}
        timeout connect {ctimeout}
        bind 127.0.0.1:{sport}
        mode http
        stats enable
        stats hide-version
        stats refresh 30s
        stats show-node
        stats uri  /stats

