[global]
;debug=DEBUG
ca=/opt/itns/etc/ca/certs/ca.cert.pem
providerid={providerid}
providerkey={providerkey}

[wallet]
host=localhost
port=45000
username=username
password=pasword

[sdp]
servers=[example.com:8080]

[service-1A]
backend-proxy-server=localhost:3128
crt=/opt/itns/etc/ca/certs/ha.cert.pem
key=/opt/itns/etc/ca/private/ha.key.pem
crtkey=/opt/itns/etc/ca/certs/ha.both.pem

[service-1B]
crt=/opt/itns/etc/ca/certs/vpn.cert.pem
key=/opt/itns/etc/ca/private/vpn.key.pem
crtkey=/opt/itns/etc/ca/certs/vpn.both.pem
reneg=60

