global
        maxconn         {maxconn}
        daemon
        log {f_logsocket}
        stats socket {f_sock} mode 600 level admin
        stats timeout {timeout}

        # SSL options
        ssl-dh-param-file {f_dh}
        ca-base {cabase}
        crt-base {crtbase}
        ssl-default-bind-ciphers ECDH+AESGCM
        ssl-default-bind-options force-tlsv12

frontend ssltunnel
        bind            {bind_addr}:{bind_port} ssl crt {f_site_pem}
        mode            http
        log             {f_logsocket}
        option         httplog
        option          http_proxy
	option          logasap
        option          contstats
	option		http-keep-alive
        maxconn         {maxconn}
        timeout client  {timeout}

	capture request header {payment_header} len 64

        acl allowed_payments hdr({payment_header}) -u 20 -M
	acl is_mgmt_host url_dom {ctrldomain}
        acl is_mgmt_path path_beg {ctrlpath}
        acl is_mgmt_id hdr_reg({mgmt_header}) ^{mgmtid}$
	
        http-request deny if !allowed_payments !is_mgmt_host
        http-request deny if !allowed_payments is_mgmt_host !is_mgmt_path

        use_backend b-status-ok if is_mgmt_host is_mgmt_path is_mgmt_id allowed_payments
	use_backend b-status-nopayment if is_mgmt_host is_mgmt_path is_mgmt_id
	use_backend b-status-badid if is_mgmt_host is_mgmt_path
        
        # Default is to proxy connection
        default_backend b-preproxy

backend b-preproxy
        mode            http
        timeout connect {ctimeout}
        timeout server  {timeout}
        retries         2
        option          httplog

	stick-table type string len 256 size 10k nopurge
        stick on hdr({payment_header}) table b-preproxy

	acl is_proxy_request url_reg '.*://.*'
        acl valid_method        method  GET POST OPTIONS PUT CONNECT
	acl allowed_src_ips src -u 10 -f {f_allow_src_ips}        
        acl deny_src_ips src -u 11 -f {f_deny_src_ips}
        http-request deny if deny_src_ips
        acl deny_dst_ips url_ip -u 12 -f {f_deny_dst_ips}
        http-request deny if deny_dst_ips
        acl deny_dst_doms url_reg -u 14 -f {f_deny_dst_doms}
        http-request deny if deny_dst_doms
        http-request deny if !valid_method
	http-request deny if !is_proxy_request

        server s-proxy {forward_proxy} check

backend b-status-ok
        mode            http
        timeout server  {timeout}
        timeout connect {ctimeout}
	timeout tarpit 1s

        http-request set-uri /authid/%[hdr({payment_header})]
	#http-request tarpit
        server Local {disp_http_host}:{disp_http_port}
        errorfile 500 {f_status}

backend b-status-nopayment
        mode            http
        timeout server  {timeout}
        timeout connect {ctimeout}
	timeout tarpit 1s

	http-request tarpit
        errorfile 500 {f_err_nopayment}

backend b-status-badid
        mode            http
        timeout server  {timeout}
        timeout connect {ctimeout}
	timeout tarpit 1s

	http-request tarpit
        errorfile 500 {f_err_badid}

backend b-overlimit
	mode http
	timeout tarpit 2s
	timeout server  {timeout}
        timeout connect {ctimeout}

	http-request tarpit
	errorfile 503 {f_err_overlimit}
