global
        maxconn         {maxconn}
        daemon
        log {f_logsocket}
        stats socket {f_sock} mode 600 level admin
        stats timeout {timeout}

        # SSL options
        ssl-dh-param-file {f_dh}
        ca-base {cabase}
        crt-base {crtbase}
        ssl-default-bind-ciphers ECDH+AESGCM
        ssl-default-bind-options force-tlsv12

frontend ssltunnel
        bind            {bind_addr}:{bind_port} ssl crt {f_site_pem}
        mode            http
        log             {f_logsocket}
        option         httplog
        option          http_proxy
	option          logasap
        option          contstats
	option		http-keep-alive
        maxconn         {maxconn}
        timeout client  {timeout}

	capture request header {header} len 64
        stick-table type string len 256 size 10k nopurge store conn_rate(60s),bytes_out_rate(60s),bytes_in_rate(60s)

	acl allowed_payments    hdr({header}) -u 20 -M
        acl is_mgmt url_dom _{ctrldomain}_

	use_backend b-status-ok if is_mgmt allowed_payments
        use_backend b-status-noauth if is_mgmt !allowed_payments
        http-request deny if !allowed_payments !is_mgmt
        
        # Default is to proxy connection
        default_backend b-preproxy

backend b-preproxy
        mode            http
        timeout connect {ctimeout}
        timeout server  {timeout}
        retries         2
        option          httplog

        stick-table type string len 256 size 10k nopurge store conn_rate(60s),bytes_out_rate(60s),bytes_in_rate(60s)
        stick on hdr({header}) table b-preproxy

        tcp-request content track-sc2 hdr({header})
        acl valid_method        method  GET POST OPTIONS PUT CONNECT

	acl allowed_src_ips src -u 10 -f {f_allow_src_ips}        
        acl deny_src_ips src -u 11 -f {f_deny_src_ips}
        http-request deny if deny_src_ips
        acl deny_dst_ips url_ip -u 12 -f {f_deny_dst_ips}
        http-request deny if deny_dst_ips
        acl deny_dst_doms url_dom -u 14 -f {f_deny_dst_doms}
        http-request deny if deny_dst_doms
        http-request deny if !valid_method

        server s-proxy {forward_proxy} check

backend b-status-ok
        mode            http
        timeout client  {timeout}
        timeout server  {timeout}
        timeout connect {ctimeout}
        
        http-response add-header X-ITNS-Status OK
        server s-http 127.0.0.1:{s_port}
        #errorfile 503 {f_status}

backend b-status-noauth
        mode            http
        timeout client  {timeout}
        timeout server  {timeout}
        timeout connect {ctimeout}
        
        http-response add-header X-ITNS-Status NoAuth
        server s-http 127.0.0.1:{s_port}
        #errorfile 503 {f_status}


listen s-http
        bind 127.0.0.1:{s_port}
        timeout client  {timeout}
        mode http

        acl is_mgmt url_dom _{ctrldomain}_

        http-request deny if !is_mgmt

        errorfile 503 {f_status}
 
