[Unit]
Description=ITNS dispatcher
ConditionPathExists=/opt/itns/bin/itnsdispatcher
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/itns/bin/itnsdispatcher
User=root
Restart=always
StandardOutput=syslog
StandardError=syslog
PIDFile=/opt/itns/var/run/itnsdispatcher.pid

[Install]
WantedBy=multi-user.target
