port {port}
proto {proto}
dev {tundev}
dev-node {tunnode}
persist-tun
persist-key
iproute {unprivip}
verify-client-cert none
management-client-auth
{duplicate_cn}
<ca>
{f_ca}
</ca>
<cert>
{f_crt}
</cert>
<key>
{f_key}
</key>
cd {workdir}
{push_dns}
dh {f_dh}
topology net30
server {iprange} {ipmask}
{ip6comment}server-ipv6 {ip6range}
keepalive 30 120
reneg-sec {reneg}
#<tls-auth>
#f_ta
#</tls-auth>
#key-direction 0
auth SHA256
management {mgmt_sock}
management-hold
management-up-down
management-query-passwords
cipher AES-256-CBC
#user {user}
#group {group}
status {f_status}
float
tun-mtu {mtu}
mssfix {mssfix}
syslog

