Source: lethean-vpn
Section: utils
Priority: optional
Maintainer: Lukas Macura <lukas@lethean.io>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-setuptools,
               dh-systemd
Standards-Version: 4
Homepage: https://lethean.io/

Package: lethean-vpn
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, lethean-daemon, openvpn, haproxy, python3, sudo, tinyproxy, openssl, bash,
  python3-ed25519, python3-configargparse, python3-dnspython, python3-syslogmp, python3-jsonpickle, python3-requests, python-configparser, python-urllib3
Description: cryptocoin VPN server and client for Lethean network 
 Lethean (LTHN) is an open-source cryptocurrency
 that provides blockchain backed, distributed VPN services.
 Lethean uses a public ledger to record transactions
 while new units are created through a process called mining.
 Lethean aims to improve on existing cryptocurrency design
 by obscuring sender, recipient and amount of every transaction made
 as well as making the mining process more egalitarian.
 .
 This package provides the daemon letheand for Full Lethean client,
 and command-line tools to interact with the daemon.
 .
 Beware that full global transaction history (blockchain) is stored locally,
 which may require very large amounts of disk space.
 .


