:root {
  --md-primary-fg-color:        #40c1c5;
  --md-primary-fg-color--light: #79d4d6;
  --md-primary-fg-color--dark:  #1c9ea3;
  --md-accent-fg-color:        #79d4d6;
  --md-accent-fg-color--light: #1c9ea3;
  --md-accent-fg-color--dark:  #79d4d6;
}

[data-md-color-scheme="slate"] {
  --md-hue: 210; /* [0, 360] */
}